
/* .hero {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://img.freepik.com/free-photo/portrait-professional-architect-woman-wearing-yellow-helmet-standing-outdoors-engineer-architect-concept_58466-11853.jpg?t=st=1662665146~exp=1662665746~hmac=28f65d76c4d0a9a321db1f33895bc8edf8ddffa8eb828f8cbb68c24dd8de7b87');
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  object-position: center center;
  height: 348px;
} */
